name: Deploy to GitHub Pages

on:
  push:
    branches: ["main", "gh-pages"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          version: 0.9.5

      - name: Setup cache for mkdocs-material
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Cache mkdocs-material
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies
        run: uv sync --frozen --group docs

      - name: Build project
        run: uv run --frozen --no-sync mkdocs build

      - name: Deploy to GitHub Pages
        run: uv run --frozen --no-sync mkdocs gh-deploy --force
