name: Main branch checks

on:
  push:
    branches:
      - main
      - "v*.*.*"
    tags:
      - "v*.*.*"

permissions:
  contents: read

jobs:
  checks:
    # Only run on private repositories
    if: github.event.repository.private == true
    uses: ./.github/workflows/shared.yml
